<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">About Me
                <small>why...</small>
            </h1>
        </div>

    </div>

    <div class="row">

        <div class="col-md-6">
            <img class="img-responsive" src="http://placehold.it/750x450">
        </div>
        <div class="col-md-6">
            <h2>Colinious Maximus the first</h2>

            <p>Hi</p>

    
        </div>

    </div>

    <!-- Team Member Profiles -->

    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">Me Amigos</h2>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="http://placehold.it/750x450">

            <h3>DenoSaauur
                <small>Lyninx inc.</small>
            </h3>
            <p>Herp derp</p>
            <p><a href="" class="btn btn-primary" role="button">Website</a></p>
        </div>
                <div class="col-sm-4">
            <img class="img-responsive" src="http://placehold.it/750x450">

            <h3>Toomsa
                <small>BadApps inc.</small>
            </h3>
            <p>Hey Baus</p>
            <p><a href="" class="btn btn-primary" role="button">Website</a></p>
        </div>
                <div class="col-sm-4">
            <img class="img-responsive" src="http://placehold.it/750x450">

            <h3>noobody
                <small>somtin inc.</small>
            </h3>
            <p>moontindewww</p>
            <p><a href="" class="btn btn-primary" role="button">Website</a></p>
        </div>

       


        

    </div>

</div>
<!-- /.container -->
